.mainTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 15vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:black 2px 2px 2px;
}

.contentLiks{
    width: 100%;
    height: 85vh;
    box-shadow: black 1px 1px 5px;
}

.contentSupLateral{
    width: 10%;
    display: flex;
    align-items: center;
}

.BoxSupLinks{
    background-color: rgb(237, 237, 237);
    font-size: 30px;
    height: 62.5%;
    width: 50%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.BoxLinks{
    border-right:solid 1px white;
    border-top:solid 1px white;
    border-left:solid 1px white;
}

.BoxInfeLinks{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(255, 255, 255);
    height: 5%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.minBtn{
    border-radius: 12.5px;
    height:12.5px;
    width:12.5px;
    background-color: rgb(0, 0, 0);
}

.Iflecha{
    text-shadow: rgb(102, 102, 102) 2px 2px 4px;
}

.links{
    text-align: center;
    font-size:40px;
    width: 80%;
    text-shadow: rgb(102, 102, 102) 2px 2px 4px;
    text-decoration: none;
    color:rgb(10 10 10);
}

.links:hover{
    text-decoration: none;
    color:rgb(94, 94, 94);
}

@media (max-width: 600px){
    .mainTitulo{
        height: 10vh;
    }
    .mainTitulo h1{
        font-size: 35px;
    }
    .BoxSupLinks{
        width:90%;
        height:50%;
    }
    .BoxInfeLinks{
        width:90%;
        height:8%;
    }

    .contentImage{
        height: 0px;
    }

    .contentLiks{
        height: 90vh;
    }

    .image{
        border:none;
        border-radius: 0%;
    }
}

