.InputCenter{
    height: 30px;
    width:10%;
}

.InputCenter:hover{
    cursor: pointer;
}

.InputSelecIdeo{
    height: 100%;
    width: 10%;
}

.Formulario{
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(200 200 200);
    align-items: center;
}

.BoxTitulo{
    border-bottom: 1px solid black;
    box-shadow: black 1px 1px 4px;
    display: flex;
    height:10vh;
    width:100vw;
}

.BoxBtnVolver{
    width:5%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.Titulo{
    margin-left:10px;
    display: flex;
    align-items: center;
    width:95%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:rgb(184, 184, 184) 1px 1px 3px;
    font-size: 50px;
    font-weight: bold;
}

.boxTextarea{
    height:99%;
    width:99%;
    transform: none;
    background-color: white;
    resize: none;
    padding:0px;
    margin:0px;
}

.Textarea{
    height: 95%;
    width: 95%;
}

.Textarea:hover{
    border:none;
    padding:0px;
    margin:0px;
}

.Textarea::placeholder{
    border:none;
    padding:0px;
    margin:0px;
}

.Textarea:focus{
    border:none;
    padding:0px;
    margin:0px;
}

.boxTranslator{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55 , 55 , 55);
    height: 70vh;
    width: 70vw;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.boxSelecion{
    margin-top: 50px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top:solid 1px rgb(255, 255, 255);
    border-left:solid 1px rgb(255, 255, 255);
    border-right:solid 1px rgb(255, 255, 255);
    height: auto;
    display: flex;
    align-items: center;
    width: 70vw;
}

@media(max-width: 768px) { 
    .boxSelecion{
        width:100vw;
        margin:0px;
        height: 8vh;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        background-color: rgb(200 200 200);
    }
    .InputSelecIdeo{
        margin: 0px 10px;
    }
    .boxTranslator{
        height: 82vh;
        width:100vw;
    }
    .BoxBtnVolver{
        margin:0px 20px;
    }
}